@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2889B, #F2ACB9, #023E73, #03658C);
}

main {
    background-color: white ;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #419BBF;
    text-align: center;
    text-shadow: 1px 1px 2px #0f4f68b9;
}

h2{
    color: #F2889B;
}

p {
    text-align: justify;
}